In [48]:
import pandas as pd
import numpy as np
arr = [1, 4, 7]
myvar = pd.Series(arr)
print(myvar)

0    1
1    4
2    7
dtype: int64

In [49]:
dict1 = {
    "animal": ["lion", "tiger", "deer", "snake", "fish"],
    "strength":[90, 82, 36, 68, 15],
    "type":["wild", "wild", "domestic", "wild", "aqua"]
}

In [50]:
df = pd.DataFrame(dict1)
df

  animal  strength      type
0   lion        90      wild
1  tiger        82      wild
2   deer        36  domestic
3  snake        68      wild
4   fish        15      aqua

In [60]:
df.index = ['a', 'b', 'c', 'd', 'e']
df.to_csv("animal_data.csv", index=True)

In [52]:
# df.head(2)
df.tail(2)

  animal  strength  type
3  snake        68  wild
4   fish        15  aqua

In [53]:
df.describe()

        strength
count   5.000000
mean   58.200000
std    31.752165
min    15.000000
25%    36.000000
50%    68.000000
75%    82.000000
max    90.000000

In [54]:
df1 = pd.read_csv("train_data.csv")
df1["speed"][2] = 93

C:\Users\rakhil\AppData\Local\Temp\ipykernel_15748\3109088809.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["speed"][2] = 93

In [47]:
df1.index = np.array([i+1 for i in range(5)])
df1.to_csv('train_data.csv', index=False)
df1

   train no.  speed          type
1     125846     90       express
2     126984     82  super deluxe
3     129599     93       express
4     128470     78     passenger
5     127685     91     passenger

In [55]:
df1.describe()

           train no.      speed
count       5.000000   5.000000
mean   127716.800000  86.800000
std      1427.225175   6.457554
min    125846.000000  78.000000
25%    126984.000000  82.000000
50%    127685.000000  90.000000
75%    128470.000000  91.000000
max    129599.000000  93.000000